@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary : #000000;
  --secondary : #F4F4F5
  
  /* --background: #ffffff;
  --foreground: #171717; */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}
#textarea-wrapper > div > div {
  height: auto !important;
}
body {
  /* display: flex;
  flex-direction: column; */
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
